/* Change appearance of current tab to follow design system standards .w--current*/
.bbc-itm[data-active="true"] .label_wrap {
  color: var(--color--p500);
}

.bbc-itm[data-active="true"] .label_wrap .txt {
  font-weight: bold;
}

.bbc-itm[data-active="true"] .label_wrap .icn::first-letter {
  text-transform: uppercase;
}
/* Fixes the appearance of a button in the bbc and input bars */
[data-trail-btn-pad="n"].bar-trail-btn {
	padding-right: 4px;
}
[data-trail-btn-pad="bbc"].bar-trail-btn {
	padding-right: 8px;
}
.bar-lead-btn .btn-link {
	min-width: 56px;
}
.bar-trail-btn .btn-link {
	min-width: 56px;
}
