/*********************************************************/
/** DIALOG                                              **/
/*********************************************************/

/** DIALOG TYPES *****************************************/
/** Modal, Menu, Scrim(0,10,20....90) Blur (0,3,5)      **/
/*********************************************************/
.dialog_bg[data-scrim='0'] {
	background-color: var(--color--t000);
}
.dialog_bg[data-scrim='10'] {
	background-color: var(--color--n9991);
}
.dialog_bg[data-scrim='20'] {
	background-color: var(--color--n9992);
}
.dialog_bg[data-scrim='30'] {
	background-color: var(--color--n9993);
}
.dialog_bg[data-scrim='40'] {
	background-color: var(--color--n9994);
}
.dialog_bg[data-scrim='50'] {
	background-color: var(--color--n9995);
}
.dialog_bg[data-scrim='60'] {
	background-color: var(--color--n9996);
}
.dialog_bg[data-scrim='70'] {
	background-color: var(--color--n9997);
}
.dialog_bg[data-scrim='80'] {
	background-color: var(--color--n9998);
}
.dialog_bg[data-scrim='90'] {
	background-color: var(--color--n9999);
}
.dialog_bg[data-blur='0'] {
	-webkit-backdrop-filter: blur(0px);
  backdrop-filter: blur(0px);
}
.dialog_bg[data-blur='3'] {
	-webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}
.dialog_bg[data-blur='5'] {
	-webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.dialog_box[data-type='modal'] {
	border-radius: 16px;
}

.dialog_box[data-type='modal2full'] {
	border-radius: 16px;
}
@media only screen and (max-width: 991px) {
  .dialog_box[data-type='modal2full'] {
	border-radius: 0px;
	}
}

.dialog_box[data-type='sheet'] {
	border-top-left-radius: 24px;
	border-top-right-radius: 24px;
  position: fixed;
  top: auto;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 600px;
  max-width: calc(
    100vw - 0px * 2
  );
  margin-inline: auto;
	z-index: 1110;
	overflow: hidden;
  transform: translate(0%, 0%);
}
@media only screen and (max-width: 991px) {
  .dialog_box[data-type='sheet'] {
	top: auto;
	}
}
.dialog_box[data-type='menu'] {
	border-radius: 4px;
  	background-color: var(--color--t000);
  	-webkit-backdrop-filter: blur(0px);
  	backdrop-filter: blur(0px);
	position: fixed;
	z-index: 1110;
	overflow: hidden;
}

/* Menus Wrapper: For display on desktop as a wrapper around menu components to change the sizing */
[data-mini="true"] {
  container-type: inline-size;
  container-name: menu;
  max-width: 250px;
}

@container menu (max-width:250px) {
  .menuitem {
    min-height: 32px;
  }

  .g-privacy .menuitem {
    min-height: 48px;
  }

  .mic-lead-icn {
    padding: 0px 8px;
  }

  .label {
    font-size: var(--r4);
  }

  .shead {
    display: none;
  }
}
