/* ListItem */
[data-li-titlesize="r2"] {
  font-size: var(--_typography---size--r2);
}

[data-li-titlesize="r3"] {
  font-size: var(--_typography---size--r3);
}

[data-li-titlesize="r4"] {
  font-size: var(--_typography---size--r4);
}

[data-li-subtxtsize="r2"] {
  font-size: var(--_typography---size--r2);
}

[data-li-subtxtsize="r3"] {
  font-size: var(--_typography---size--r3);
}

[data-li-subtxtsize="r4"] {
  font-size: var(--_typography---size--r4);
}
